html, body
{
	font-size: 90%;
	font-family: "Courier New", Courier, monospace;
	letter-spacing: 0.15em;
	background-color: #DDD8CA;
}

#page 
{
	max-width: 940px;
	min-width: 720px;
	margin: 10px auto 10px auto;
	padding: 20px;
	border: 4px double #a5a197;
	box-shadow: #a5a197;
	background-color: #1F1208;
}

#logo img{
	width: 150px;
	height: 150px;
	border: 4px double #ffffff;
	border-radius: 180px;
	margin: -25px;
}

h1{
	font-size: 35px;
	color: rgb(216, 203, 203);
	font-family: 'Lucida Sans Unicode';
}

#logo
{
	width: 90%;
	margin: 10px auto 10px auto;
	display: flex;
	justify-content: space-between;
}

ul
{
	width: 570px;
	padding: 15px;
	margin: 0px auto 0px auto;
	border-top: 2px solid#d3c3c3;
	border-bottom: 1px solid #d3c3c3;
	text-align: center;
}

li
{
	display: inline;
	margin: 0px 3px;
}

#pianos
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#big-image
{
	width: 200px;
	height: 150px;
}

p
{
	text-align: center;
	width: 600px;
	margin: 20px auto 20px auto;
	font-weight: normal;
	color: white;
}

a
{
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 18px 5px 18px;
}

a:hover, a.on
{
	color: #cc3333;
	background-color: #d3c3c3;
}